*{
    margin: 0px;
    box-sizing: 0px;
    padding: 0px;
}
.div-first{
    opacity: 0.1;
    background-color: green;
}
.div-2nd{
    opacity: 0.3;
    background-color: green;
}
.div-3rd{
    opacity: 0.6;
    background-color: green;
}
.div{
    background-color: green;
}